.add-usuario-button {
    background-color: #4CAF50; /* Cor verde para o botão */
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
  }
  
  .add-usuario-button:hover {
    background-color: #45a049; /* Cor verde mais escura ao passar o mouse */
  }
  
  /* CSS para o formulário de adicionar aluno */
.add-aluno-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-aluno-form .form-input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
}

.message {
  color: green;
  margin-bottom: 20px;
}