@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

.navbar-cin {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-content-cin {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .logo-image-cin {
    height: 40px;
    margin-right: 10px;
  }
  
  .website-name-cin {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
  }
  
  .navbar-list-cin {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  
  .navbar-item-cin {
    margin: 0 20px;
  }
  
  .navbar-link-cin {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .navbar-link:hover {
    background-color: #FF6347;
    color: white;
  }