/* Importando a fonte Adirek Serif (ou similar) */
@import url('https://fonts.googleapis.com/css2?family=Adirek+Serif:wght@400;700&display=swap');

body, html {
  font-family: 'Adirek Serif', serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.event-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 1000px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  margin-top: 80px; /* Adjust for the fixed navbar height */
}

.event-list-container h1 {
  top: 20px;
  width: 100%;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 40px;
}

.event-list {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 500px;
}

.event-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-family: 'Inter', sans-serif;
}

.event-actions {
  display: flex;
  gap: 10px;
}

.edit-button-event, .delete-button-event {
  background-color: #FF6347;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.edit-button:hover, .delete-button:hover {
  background-color: #45a049;
}

.edit-button:active, .delete-button:active {
  background-color: red;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #FF6347;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.back-button i {
  font-size: 20px;
}

.back-button:hover {
  background-color: #e55347;
}

.back-button:active {
  background-color: #c43f2b;
}
