/* Importando a fonte Adirek Serif (ou similar) */
@import url('https://fonts.googleapis.com/css2?family=Adirek+Serif:wght@400;700&display=swap');

body, html {
  font-family: 'Adirek Serif', serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.event-edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 1000px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  margin-top: 80px; /* Adjust for the fixed navbar height */
}

.event-edit-container h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the form elements vertically */
  width: 100%;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 50%; /* Control the width of form inputs */
}

.form-group label {
  flex: 1;
  margin-left: 10px;
  font-family: 'Inter', sans-serif;
}

.form-input {
  flex: 2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 1rem;
}

.datepicker-input {
  width: 100%;
}

.submit-button {
  background-color: #FF6347;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.submit-button:hover {
  background-color: #45a049;
}

.submit-button:active {
  background-color: red;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}
