/* Importando a fonte Adirek Serif (ou similar) */
@import url('https://fonts.googleapis.com/css2?family=Adirek+Serif:wght@400;700&display=swap');

body, html {
  font-family: 'Adirek Serif', serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.discipline-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 1000px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  margin-top: 80px; /* Adjust for the fixed navbar height */
}

.discipline-form-container h1 {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 40px;
}

.discipline-form {
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  flex: 1;
  margin-left: 10px;
  font-family: 'Inter', sans-serif;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.days-checkboxes {
  display: flex;
  flex-wrap: wrap;
}

.days-checkboxes div {
  margin-right: 10px;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.submit-button {
  background-color: #FF6347;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.submit-button:hover {
  background-color: #45a049;
}

.submit-button:active {
  background-color: red;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.icon-color {
  color: #ed5c69;
}