.discipline-room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 1000px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  margin-top: 80px;
}
.discipline-room-container h1{
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  font-family: 'Inter', sans-serif;
}
.icon-circle{
  color: #e55347;
  font-size: 40px;
  padding-left:60px;
}
p{
  font-family: 'Inter', sans-serif;
  color: #e55347;
}
.room{
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size:22px;
}